@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
/*@import url(../icomoon.ttf);*/

h1{
  font-family: 'Dancing Script', cursive;
  color: #f55649;
}

.logo__top-right {
  float: right;
}

.birthday__highlight {
  background-color: #f55649;
  width: 350px;
  height: 300px;
  border-radius: 1em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.birthday__highlight:hover {
  background-color: #fcc6c2;
}

.smallbox {
  background-color: #f55649;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height: 145px;
  border-radius: 1em;
/*  margin-right: 10px;
  margin-left: 10px;*/
  margin-bottom: 10px;
  padding-top: 20px;
}

.smallbox1 {
  margin-right: 10px;
  margin-left: 10px;
}

.smallbox3{
  margin-right: 10px;
  margin-left: 10px;
}

.smallbox p {
  font-size: 2em;
}

/*.smallbox:first-child {
  margin-left: 4%;
}

.smallbox:last-child {
  margin-right: 4%;
}*/

.smallbox:hover {
  background-color: #fcc6c2;
}

.glyph {
  font-size: 4em;
}

.present {
  font-size: 15em;
}

.register__form {
  float: right;
  width: 40%;
}

.envelope {
  float: left;
  margin: auto;
  width: 55%;
  height: 300px;
  border: 1px solid black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #f55649;
  border-radius: .5em;
}

.return-address {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

.stamp {
  float: right;
  width: 80px;
  height: 80px;
  background-color: #f55649;
  color: white;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: .5em;
  padding-top: 15px;
  text-align:center;
}

.login__user--name {
  margin-top: 20%;
}

.register__header {
  width: 100%;
  text-align: center;
}

.register__instructions {
  font-family: 'Open Sans', sans-serif;
}