@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
/*#D5C2A4 - tan
#f55649 - current coral*/


/**** LANDING PAGE *****/
.index {
  width: 100%;
}
.index__header {
  font-size: 10em;
  font-family: 'Poiret One', sans-serif;
  text-align: center;
  color: #f55649;
  width: 100%;
}

.index__button {
  margin-left: 45%;
  color: #f55649;
  background-color: #D5C2A4;
  border: 1px solid #f55649;
}

/***** BREAD CRUMB ******/
.nav {
  background-color: #D5C2A4;
  border: 1px solid #f55649;
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
  font-family: 'Poiret One', 'Open Sans';
  font-size: 1.5em;
}

.nav > li > a {
  color: #f55649;
}

.nav > li + li:before {
  color: #f55649;
}

.nav > .active {
  color: #f55649;
}

.nav > .logout {
  float: right;
  font-weight: bold;
  color: #D5C2A4;
  background-color: #f55649;
}

h1{
  font-family: 'Poiret One', 'Open Sans', cursive;
  color: #f55649;
  font-size: 2.5em;
  font-weight: bold;
}

.logo__top-right {
  float: right;
}

/*****  HOME PAGE ******/
.homepage__start {
  background-color: #D5C2A4;
  height: 80px;
  border: 4px solid #f55649;
}

.welcome {
  font-family: 'Poiret One', sans-serif;
  font-size: 2em;
  color: #f55649;
  font-weight: bold;
  text-align: center;
}

.birthday__highlight {
  background-color: #f55649;
  width: 365px;
  height: 300px;
  border-radius: 1em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #D5C2A4;
  border: 4px solid #D5C2A4;
}

.birthday__highlight:hover {
  background-color: #fcc6c2;
}

.smallbox {
  background-color: #f55649;
  color: #D5C2A4;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height: 145px;
  border-radius: 1em;
  margin-bottom: 10px;
  padding-top: 20px;
  border: 4px solid #D5C2A4;
}

.smallbox1 {
  margin-right: 10px;
  margin-left: 10px;
}

.smallbox3{
  margin-right: 10px;
  margin-left: 10px;
}

.smallbox p {
  font-size: 2em;
}

.smallbox:hover {
  background-color: #fcc6c2;
}

.glyph {
  font-size: 4em;
}

.present {
  font-size: 15em;
}

.homepage__footer {
  text-align: center;
  font-family: 'Poiret One', sans-serif;
  font-size: 2em;
  color: #f55649;
}

/*****  REGISTRATION PAGE *****/
.register__header {
  width: 100%;
  text-align: center;
}

.register__instructions {
  font-family: 'Poiret One', cursive, 'Open Sans', sans-serif;
  font-size: 3em;
  color: #f55649;
}

.register__form {
  float: right;
  width: 40%;
}

.envelope {
  float: left;
  margin: auto;
  width: 55%;
  height: 300px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #f55649;
  border-radius: .5em;
  background-color: #D5C2A4;
}

.return-address {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

.stamp {
  float: right;
  width: 80px;
  height: 80px;
  background-color: #f55649;
  color: #D5C2A4;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: .5em;
  padding-top: 15px;
  text-align:center;
}

.login__user--name {
  margin-top: 20%;
}

/***** WISHLIST PAGE *****/

.wishlist__add-item {
  background-color: #D5C2A4;
  border: 1px solid #f55649;
  margin-left: auto;
}

.wishlist__image {
  max-width: 100px;
  max-height: 100px;
}

.wishlist__fav, .fav {
  font-size: 2em;
  margin-left: 80%;
  color: lightgrey;
  margin-top: 5px;
}

.wishlist__fav:hover {
  margin-left: 80%;
  color: #FDAB00;
  margin-top: 5px;
}

.wishlist p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #D5C2A4;
  margin-left: 10px;
}

.product {
  width: 20%;
  height: 20%;
  margin: 25px;
  border-radius: 1em;
  border: 1px solid #D5C2A4;
  display: inline-block;
  text-align: center;
  background-color: #f55649;
}

.product a {
  color: #D5C2A4;
  text-decoration: underline;
}

.product button {
  background-color: #D5C2A4;
}

.wishlist__remove {
  color: red;
  margin-bottom: 5px;
}
/***** BIRTHDAYS PAGE ******/

.birthdays {
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #f55649;
}

.birthdays h2 {
  font-family: 'Open Sans', sans-serif;
}


/********* FRIENDS LIST *********/
.friend {
  background-color: #f55649;
  color: #D5C2A4;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  border-radius: .5em;
  margin: 27px;
  width: 20%;
  border: 1px solid #D5C2A4;
}

.friend button {
  color: #f55649;
  background-color: #D5C2A4;
  font-family: 'Poiret One', 'Open Sans';
  font-weight: bold;
  margin-bottom: 2px;
}

.friend__wishlist {
  list-style: none;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.friend__wishlist li {
  padding: 5px;
}

.friend__wishlist a {
  color: #f55649;
}

.friend__wishlist--modal{
  padding: 0px;
}
/******** PROFILE PAGE ********/
.plain-profile {
  display: none;
}

.nav-profile {
  background-color: #f55649;
  border: 1px solid #D5C2A4;
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
  font-family: 'Poiret One', 'Open Sans';
  font-size: 1.5em;
}

.nav-profile > li > a {
  color: #D5C2A4;
}

.nav-profile > li + li:before {
  color: #D5C2A4;
}

.nav-profile > .active {
 color: #D5C2A4;
}

.nav-profile > .logout {
  float: right;
  font-weight: bold;
  color: #f55649;
  background-color: #D5C2A4;
}

.envelope button {
  color: #D5C2A4;
  background-color: #f55649;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 2px;
}
/****** MEDIA QUERIES *******/
@media screen and (max-width: 1000px) {
  .friend {
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
  }
  .plain-profile {
    display: block;
    background-color: #D5C2A4;
    color: #f55649;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-radius: .5em;
    margin: 27px;
    width: 85%;
    border: 1px solid #D5C2A4;
  }

  .plain-profile button {
    color: #D5C2A4;
    background-color: #f55649;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .homepage__start {
    width: 97%;
    background-color: #D5C2A4;
    margin-left: 10px;
  }

  .wishlist__fav {
    margin-left: 70%;
    color: lightgrey;
    margin-top: 5px;
  }

  .wishlist__fav:hover, .fav  {
    margin-left: 70%;
    color: #FDAB00;
    margin-top: 5px;
  }

  .wishlist__add-item {
    width: 100%;
  }

  .product {
    width: 45%;
    margin: 10px;
    border-radius: 1em;
    display: inline-block;
    border: 1px solid #f55649;
    text-align: center;
  }

  .envelope {
    display: none;
  }

  .register__form {
    float: none;
    margin: auto;
  }

  .register__instructions {
    font-family: 'Poiret One', cursive, 'Open Sans', sans-serif;
    font-size: 2em;
    color: #f55649;
  }

  .birthday__highlight {
    background-color: #f55649;
    width: 275px;
    height: 210px;
    padding-top: 5px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 1em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #D5C2A4;
  }

  .birthday__highlight:hover {
    background-color: #fcc6c2;
  }

  .smallbox {
    background-color: #f55649;
    color: #D5C2A4;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 105px;
    border-radius: 1em;
    margin-bottom: 10px;
    padding-top: 3px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .smallbox p {
    font-size: 1.5em;
  }

  .smallbox:hover {
    background-color: #fcc6c2;
  }

  .glyph {
    font-size: 4em;
  }

  .present {
    font-size: 5em;
  }
}

@media screen and (max-width: 500px) {
  .wishlist__fav, .fav {
    font-size: 2em;
    margin-left: 80%;
    color: lightgrey;
    margin-top: 5px;
  }

  .wishlist__fav:hover {
    margin-left: 80%;
    color: #FDAB00;
    margin-top: 5px;
  }

  .wishlist__add-item {
    width: 100%;
  }

  .product {
    width: 90%;
    margin: 10px;
    border-radius: 1em;
    display: block;
    border: 1px solid #f55649;
    text-align: center;
  }

  .birthday__highlight {
    background-color: #f55649;
    padding-top: 0px;
    width: 60%;
    height: 30%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 1em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #D5C2A4;
  }

  .birthday__highlight:hover {
    background-color: #fcc6c2;
  }

  .smallbox {
    background-color: #f55649;
    color: #D5C2A4;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 50px;
    border-radius: 1em;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .smallbox p {
    font-size: 1em;
  }

  .smallbox:hover {
    background-color: #fcc6c2;
  }

  .glyph {
    font-size: 1em;
  }

  .present {
    font-size: 3em;
  }

}