<div ng-include="'app/layout/header.html'"></div>
<ol class="breadcrumb nav">
  <li><a href="/#/home">Home</a></li>
  <li class="active">Birthdays</li>
  <button ng-click="bday.logout()" class="logout btn btn-default">Logout</button>
</ol>

<div class="birthdays">
  <p><span style="font-family: 'Dancing Script', cursive; font-size: 2em; color: #f55649;">March Birthdays</span></p>
  <table>
    <tbody>
      <tr ng-repeat="b in bday.friends">
        <td>{{b.profile.birthday}}</td>
        <td>{{b.profile.firstName}} {{b.profile.lastName}}</td>
      </tr>
    </tbody>
  </table>
</div>