<div class="register">
  <div class="register__header">
    <div class="register__instructions">
<!--       <p>Create and share wishlists with your friends.</p>
      <p>Stay connected with up-to-date address information.</p> -->
      <p>You're one step away from being <span style="font-family: 'Dancing Script', cursive; font-size: 1.5em; color: #f55649;">presently</span> surprised...</p>
    </div>
  </div>

  <div class="envelope">
    <div class="return-address">Your BFF</div>
    <div class="stamp"><span class="glyph glyphicon glyphicon-heart-empty" aria-hidden="true"></span></div>
    <p class="login__user--name"><span style="font-family: 'Dancing Script', cursive; font-size: 2em; color: #f55649;">{{auth.user.firstName}} {{auth.user.lastName}}</span></p>
    <p class="login__user">{{auth.user.street}}</p>
    <p class="login__user">{{auth.user.city}}</p>
  </div>

  <div class="register__form">
    <form ng-submit="auth.register()">
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="Enter email" ng-model="auth.user.email" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" ng-model="auth.user.password" required>
      </div>
      <div class="form-group">
        <label class="control-label">First Name</label>
        <input class="form-control"  placeholder="Enter First Name" ng-model="auth.user.firstName" required>
      </div>
      <div class="form-group">
        <label class="control-label">Last Name</label>
        <input class="form-control"  placeholder="Enter Last Name" ng-model="auth.user.lastName" required>
      </div>
      <div class="form-group">
        <label>Street Address</label>
        <input class="form-control"  placeholder="Enter Street Address" ng-model="auth.user.street" required>
      </div>
      <div class="form-group">
        <label>City, State, Zip</label>
        <input class="form-control" placeholder="Enter City, State, Zip"  ng-model="auth.user.city" required>
      </div>
      <div class="form-group">
        <label>Birthday</label>
        <input class="form-control" placeholder="Select Birthday" id="datepicker" ng-model="auth.user.birthday">
      </div>
      <button type="submit" class="btn btn-default">Register</button>
    </form>
  </div>
</div>