<div class="register__header">
  <div class="register__instructions">
    <p>You're one step away from being <span style="font-family: 'Dancing Script', cursive; font-size: 1.5em; color: #f55649;">presently surprised</span>.</p>
    <p>Create and share lists of your staple products.</p>
    <p>View your friends' wishlists.</p>
  </div>
</div>

<div class="envelope">
  <div class="return-address">Your BFF</div>
  <div class="stamp"><span class="glyph glyphicon glyphicon-heart-empty" aria-hidden="true"></span></div>
  <p class="login__user--name">{{user.name}}</p>
  <p class="login__user">{{user.street}}</p>
  <p class="login__user">{{user.city}}</p>
</div>

<div class="register__form">
  <form>
    <div class="form-group">
      <label class="control-label">Full Name</label>
      <input class="form-control" ng-model="user.name">
    </div>
    <div class="form-group">
      <label>Street Address</label>
      <input class="form-control" ng-model="user.street">
    </div>
    <div class="form-group">
      <label>City, State, Zip</label>
      <input class="form-control" ng-model="user.city">
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" placeholder="Enter email" ng-model="user.email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Register</button>
  </form>
</div>