<div ng-include="'app/layout/header.html'"></div>
<ol class="breadcrumb nav">
  <li><a href="/#/home">Home</a></li>
  <li class="active">Find Friends</li>
  <button ng-click="invite.logout()" class="logout btn btn-default">Logout</button>
</ol>

<!-- <div class="row">
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for friends..." ng-model="friendFilterQuery">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
</div> -->
<h1 style="text-align: center;">add friends</h1>
<div class="search-results row">
  <div class="col-md-4 col-md-offset-4">
    <table class="table">
      <tbody>
        <tr ng-repeat="(id, invitee) in invite.users">
          <td>{{invitee.profile.firstName}} {{invitee.profile.lastName}}</td>
          <td><button class="btn btn-default" ng-click="invite.addFriend(id)">Add</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>