<div ng-include="'app/layout/header.html'"></div>
<ol class="breadcrumb">
  <li><a href="/#/home">Home</a></li>
  <li class="active">Invite Friends</li>
</ol>

<div class="row">
  <div class="col-lg-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for friends..." ng-model="friendFilterQuery">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
  <p>To keep track of birthdays, wish lists, addresses and more, send your friends a request.</p>
  <br>
  <div class="search-results row">
    <div class="col-md-4">
      <table class="table">
        <tbody>
          <tr ng-repeat="(id, i) in invite.users">
            <td>{{i.profile.firstName}} {{i.profile.lastName}}</td>
            <td><button class="btn btn-default" ng-click="invite.addFriend(id)">Add Friend</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>