<div ng-include="'app/layout/header.html'"></div>
<ol class="breadcrumb">
  <li><a href="/#/home">Home</a></li>
  <li class="active">My Profile</li>
</ol>

<div class="row">
  <div class="col-md-4">
    <div class="user-address" ng-repeat="(id, p) in profile.user">
      <p>{{p.firstName}} {{p.lastName}}</p>
      <p>{{p.email}}</p>
      <p>{{p.street}}</p>
      <p>{{p.city}}</p>
      <p>{{p.birthday}}</p>
      <button class="btn btn-default" ng-click="p.update()" data-toggle="modal" data-target="#editModal">Edit</button>
    </div>
  </div>
</div>


<!-- MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">edit your profile</h1>
      </div>
      <div class="modal-body">
        <form ng-submit="profile.update(id)" ng-repeat="(id, p) in profile.user">
          <div class="form-group">
            <label class="control-label">First Name</label>
            <input class="form-control"  placeholder="Enter First Name" ng-model="p.firstName" required>
          </div>
          <div class="form-group">
            <label class="control-label">Last Name</label>
            <input class="form-control"  placeholder="Enter Last Name" ng-model="p.lastName" required>
          </div>
          <div class="form-group">
            <label>Street Address</label>
            <input class="form-control"  placeholder="Enter Street Address" ng-model="p.street" required>
          </div>
          <div class="form-group">
            <label>City, State, Zip</label>
            <input class="form-control" placeholder="Enter City, State, Zip"  ng-model="p.city" required>
          </div>
          <div class="form-group">
            <label>Birthday</label>
              <input type="date" ng-model="p.birthday">
          </div>
          <button type="submit" class="btn btn-default">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>