<div ng-include="'app/layout/header.html'"></div>
<ol class="breadcrumb">
  <li><a href="/#/home">Home</a></li>
  <li class="active">My Wishlist</li>
</ol>


<!-- MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">add an item to your wish list</h1>
      </div>
      <div class="modal-body">
        <form class="wishlist" ng-submit="wish.submit()">
          <label>Item Name:</label>
          <input type="text" ng-model="wish.newWish.itemName" class="form-control" placeholder="Enter item name" required>
          <br>
          <label>Item URL:</label>
          <input type="url" ng-model="wish.newWish.itemUrl" class="form-control" placeholder="Enter link to your item"required>
          <br>
          <label>Image URL:</label>
          <input ng-model="wish.newWish.itemImg" class="form-control" placeholder="Enter image URL" required>
          <br>
          <label>Item Price:</label>
          <input ng-model="wish.newWish.price" class="form-control" placeholder="Enter the item price" required>
      <!--     <label>Priority:</label>
            <select ng-model="wish.newWish.priority" required>
              <option>Need it</option>
              <option>Love it</option>
              <option>In my wildest dreams</option>
            </select> -->
          <input type="submit" id="myModal" class="btn btn-default">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- WISHLIST -->
<div class="wishlist">
  <button type="button" class="btn btn-default btn-lg col-md-12 col-sm-12" data-toggle="modal" data-target="#myModal">
   <span style="font-family: 'Dancing Script', cursive; font-size: 1.5em; color: #f55649;">Add Item</span>
  </button>
  <p>sort by: Favorite | Price</p>
  <div class="product" ng-repeat="(id, w) in wish.newWish">
    <span ng-click="wish.fav(id)" class="wishlist__fav glyph glyphicon glyphicon-star" ng-class="{fav: w.favorite[id] === true}" aria-hidden="true"></span>
<!--     <p>{{w.priority}}</p> -->
    <img class="wishlist__image" ng-src="{{w.itemImg}}">
    <p><a href="{{w.itemUrl}}" target="_blank">{{w.itemName}}</a></p>
    <p>${{w.price}}</span></p>
    <button ng-click="wish.deleteWish(id)" class="wishlist__remove btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
  </div>


</div>